extends layout

block content
  h1= title
  p Welcome to #{title}
    if userdata && userdata.length

      each user in userdata
        ul
          li #{user.name} is #{user.age} years old
    else
      p No users found