extends layout

block content
  h1= title
  a(href="/users/new") Add New User
  if userdata && userdata.length
    ul
      each user in userdata
        li #{user.name} with email id: #{user.email}
  else
    p No users found
